button.copybtn {
    width: 2em;
    height: 2em;
}

button.copybtn.success {
    border-color: #929292 ;
}

button.copybtn img {
    padding: .12em;
}

.o-tooltip--left:hover:after {
    display: none;
}
